//@import "fonts"
@import "variable"
@import "libs"
@import "app"
@import "pages"
@import "sidebar"
@import "icons/font-awesome/css/font-awesome.min.css"
@import "icons/simple-line-icons/css/simple-line-icons.css"
//@import "icons/weather-icons/css/weather-icons.min.css"
//@import "icons/linea-icons/linea.css"
@import "icons/themify-icons/themify-icons.css"
@import "icons/flag-icon-css/flag-icon.min.css"
@import "icons/material-design-iconic-font/css/materialdesignicons.min.css"
@import "widgets"
@import "grid"
@import "responsive"
@import "../libs/css-js/css/spinners.css"
@import "../libs/css-js/css/animate.css"
// You can change the theme colors from here
@import "../libs/css-js/css/colors/blue.css"
//@import "vars"

//*
//	-webkit-box-sizing: border-box
//	-moz-box-sizing: border-box
//	box-sizing: border-box
//	&:before, &:after
//		-webkit-box-sizing: border-box
//		-moz-box-sizing: border-box
//		box-sizing: border-box
//
//*::-webkit-input-placeholder
//	color: #666
//	opacity: 1
//
//*:-moz-placeholder
//	color: #666
//	opacity: 1
//
//*::-moz-placeholder
//	color: #666
//	opacity: 1
//
//*:-ms-input-placeholder
//	color: #666
//	opacity: 1
//
//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//	color: #666
//body input:required:valid,
//body textarea:required:valid
//	color: #666
//
//html, body
//	height: 100%
//
//body
//	font-size: 16px
//	min-width: 320px
//	position: relative
//	line-height: 1.65
//	font-family: $default-font
//	overflow-x: hidden
//	opacity: 1
//
//.img-responsive
//	display: block
//	max-width: 100%
//	height: auto

// Custom CSS
.mini-sidebar .atf-logo
  display: none
.atf-logo
  position: absolute
  display: block
  top: 55px
  left: 30px
  width: 176px
  height: 68px
  text-decoration: none
.dark-logo
  visibility: hidden
.mini-sidebar .dark-logo
  visibility: visible
  width: 41px
.sidebar-nav .has-arrow
  font-weight: 400
.mini-sidebar .left-sidebar
  padding-top: 60px
.left-sidebar
  padding-top: 135px
.hidden
  display: none!important

@media (min-width: 768px)
  .mini-sidebar
    .hide-menu
      padding: 0 0 0 10px


//@import "media" // Всегда в конце
